{% extends '/include/layout.html' %}

{% block content %}
<div class="container">
    <h1>
        Grades
    </h1>
</div>

<div class="container">
    <table cellpadding="5" cellspacing="5" class="table table-hover">
        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Grades</th>
            <th></th>
        </tr>
        {% for row in data %}
        <tr>
            {% for d in row %}
            <td>{{d}}</td>

            {% endfor %}

            </td>
            <td>
                <form method="POST">
                    <input type="hidden" name="course" value="{{ row[0] }}">
                    <input type="hidden" name="section" value="{{ row[1] }}">
                    <input type="hidden" name="semester" value="{{ row[2] }}">
                    <input type="hidden" name="year" value="{{ row[3] }}">
                    <button type="submit" name="action" value="delete" class="btn btn-outline-danger">
                        Drop Class
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}