{% extends  '/include/layout.html' %}
{% block content %}

<div class="container">
	<div class="row row-cols-1 row-cols-md-4 g-4 mx-auto">
		{% for pokemon in pokedex %}
		<div class="col">
			<div class="card h-100">
			<img src="/static/images/{{ pokemon }}.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ pokemon }}</h5>
				<p class="card-text">This is the mighty {{ pokemon }} with its power it will destroy your opponent's life.</p>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


