{% extends 'include/layout.html' %}
{% block content %}

	<div class ="container">
		<form action="/profile" method = "POST">
			<p><h2>Profile</h2> 
			{% if account[6] == "INSTRUCTOR" %}
				<p>ID - {{ account[2] }}</p>
				<p>Department - {{ user_data[2] }}</p>
				<p>Salary - {{ user_data[3] }}</p>
				<p>Change Name <input type="text" name = "name" id="name" value="{{ user_data[1] }}"/></p>
				<p>Change Username <input type="text" name = "username" id="username" value="{{ account[3] }}"/></p>
				<p>Change Password <input type = "text" name = "password" id="password"/></p>
			{% endif %}
			<p><input type = "submit" value = "Update" /></p>
		</form>
	</div>

{% endblock %}